In [10]:
# Import libraries

## OS and Clients
import os
from dotenv import load_dotenv
from pymongo import MongoClient

## Data Science libraries
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [11]:
# Prepare environment

load_dotenv()
username = os.getenv("MONGO_USER")
password = os.getenv("MONGO_PASS")

In [15]:
# Generate Client
url_connection = f"mongodb+srv://{username}:{password}@core-bdml.t6lgs.mongodb.net"
client = MongoClient(url_connection)
db = client.get_database("open_data_bcn")

accidents_collection = db["accidents"]
air_quality_collection = db["air_quality"]
air_stations_collection = db["air_stations"]
births_collection = db["births"]
bus_stops_collection = db["bus_stops"]
deaths_collection = db["deaths"]
inmigrants_by_nationality_collection = db["immigrants_by_nationality"]
inmigrants_emigrants_by_age_collection = db["immigrants_emigrants_by_age"]
inmigrants_emigrants_by_destination_collection = db["immigrants_emigrants_by_destination"]
inmigrants_emigrants_by_sex_collection = db["immigrants_emigrants_by_sex"]
life_expectancy_collection = db["life_expectancy"]
most_frequent_baby_names_collection = db["most_frequent_baby_names"]
most_frequent_names_collection = db["most_frequent_names"]
population_collection = db["population"]
transports_collection = db["transports"]
unemployment_collection = db["unemployment"]

In [90]:
# Load csv files into DataFrames

df_accidents = pd.read_csv("./dataset/accidents_2017.csv")
df_air_quality = pd.read_csv("./dataset/air_quality_Nov2017.csv")
df_air_stations = pd.read_csv("./dataset/air_stations_Nov2017.csv")
df_births = pd.read_csv("./dataset/births.csv")
df_bus_stops = pd.read_csv("./dataset/bus_stops.csv")
df_deaths = pd.read_csv("./dataset/deaths.csv")
df_immigrants_by_nationality = pd.read_csv("./dataset/immigrants_by_nationality.csv")
df_immigrants_emigrants_by_age = pd.read_csv("./dataset/immigrants_emigrants_by_age.csv")
df_immigrants_emigrants_by_destination = pd.read_csv("./dataset/immigrants_emigrants_by_destination.csv")
df_immigrants_emigrants_by_destination2 = pd.read_csv("./dataset/immigrants_emigrants_by_destination2.csv")
df_immigrants_emigrants_by_sex = pd.read_csv("./dataset/immigrants_emigrants_by_sex.csv")
df_life_expectancy = pd.read_csv("./dataset/life_expectancy.csv")
df_most_frequent_baby_names = pd.read_csv("./dataset/most_frequent_baby_names.csv")
df_most_frequent_names = pd.read_csv("./dataset/most_frequent_names.csv")
df_population = pd.read_csv("./dataset/population.csv")
df_transports = pd.read_csv("./dataset/transports.csv")
df_unemployment = pd.read_csv("./dataset/unemployment.csv")

In [91]:
# List of dataframes for EDA

df_list = [
    df_accidents,
    df_air_quality,
    df_air_stations,
    df_births,
    df_bus_stops,
    df_deaths,
    df_immigrants_by_nationality,
    df_immigrants_emigrants_by_age,
    df_immigrants_emigrants_by_destination,
    df_immigrants_emigrants_by_destination2,
    df_immigrants_emigrants_by_sex,
    df_life_expectancy,
    df_most_frequent_baby_names,
    df_most_frequent_names,
    df_population,
    df_transports,
    df_unemployment
]

In [92]:
# Join immigrants emigrants by destination

print(df_immigrants_emigrants_by_destination.columns == df_immigrants_emigrants_by_destination2.columns)
print(df_immigrants_emigrants_by_destination.shape)
print(df_immigrants_emigrants_by_destination2.shape)

[ True  True  True]
(40, 3)
(400, 3)

In [93]:
df_immigrants_emigrants_by_destination =df_immigrants_emigrants_by_destination.merge(
    df_immigrants_emigrants_by_destination2,
    left_on=['from', 'to', 'weight'],
    right_on=['from', 'to', 'weight'],
    how='outer', sort=False)

In [103]:
# Accidents

print("Shape")
print(df_accidents.shape)
print("------------------", end="\n")
print("Memory Usage")
print(df_accidents.memory_usage(index=True, deep=True))
print("------------------", end="\n")
print(df_accidents.info(verbose=False, memory_usage="deep"))
print("------------------", end="\n")
print("Columns")
print(df_accidents.columns)
print("------------------", end="\n")
print("Data Types")
print(df_accidents.dtypes)
print("------------------", end="\n")
print("Number of uniques")
print(df_accidents.nunique(axis=0))
print("------------------", end="\n")
print("Head")
print(df_accidents.head())
print("------------------", end="\n")
print("Describe")
print(df_accidents.describe())
print("------------------", end="\n")
print("Number of duplicated")
print(df_accidents.duplicated().sum())
print("------------------", end="\n")
print("Null values")
print(df_accidents.isna().sum())
print("------------------", end="\n")

Shape
(10339, 15)
------------------
Memory Usage
Index                    128
id                    744408
district_name         891493
neighborhood_name     884106
street               1445285
weekday               663662
month                 652269
day                    82712
hour                   82712
part_of_the_day       669480
mild_injuries          82712
serious_injuries       82712
victims                82712
vehicles_involved      82712
longitude              82712
latitude               82712
dtype: int64
------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10339 entries, 0 to 10338
Columns: 15 entries, id to latitude
dtypes: float64(2), int64(6), object(7)
memory usage: 6.3 MB
None
------------------
Columns
Index(['id', 'district_name', 'neighborhood_name', 'street', 'weekday',
       'month', 'day', 'hour', 'part_of_the_day', 'mild_injuries',
       'serious_injuries', 'victims', 'vehicles_involved', 'longitude',
       'latitude'],
      dtype='object')
------------------
Data Types
id                    object
district_name         object
neighborhood_name     object
street                object
weekday               object
month                 object
day                    int64
hour                   int64
part_of_the_day       object
mild_injuries          int64
serious_injuries       int64
victims                int64
vehicles_involved      int64
longitude            float64
latitude             float64
dtype: object
------------------
Number of uniques
id                   10335
district_name           11
neighborhood_name       74
street                4253
weekday                  7
month                   12
day                     31
hour                    24
part_of_the_day          3
mild_injuries           11
serious_injuries         4
victims                 11
vehicles_involved       14
longitude             5492
latitude              5442
dtype: int64
------------------
Head
                id district_name           neighborhood_name  \
0  2017S008429           Unknown                     Unknown
1  2017S007316           Unknown                     Unknown
2  2017S010210           Unknown                     Unknown
3  2017S006364           Unknown                     Unknown
4  2017S004615        Sant Martí  el Camp de l'Arpa del Clot

                                              street   weekday      month  \
0  Número 27                                     ...    Friday    October
1  Número 3 Zona Franca / Número 50 Zona Franca  ...    Friday  September
2  Litoral (Besòs)                               ...    Friday   December
3  Número 3 Zona Franca                          ...    Friday       July
4  Las Navas de Tolosa                           ...  Thursday        May

   day  hour part_of_the_day  mild_injuries  serious_injuries  victims  \
0   13     8         Morning              2                 0        2
1    1    13         Morning              2                 0        2
2    8    21       Afternoon              5                 0        5
3   21     2           Night              1                 0        1
4   25    14       Afternoon              1                 0        1

   vehicles_involved  longitude   latitude
0                  2   2.125624  41.340045
1                  2   2.120452  41.339426
2                  2   2.167356  41.360886
3                  2   2.124529  41.337668
4                  3   2.185272  41.416365
------------------
Describe
                day          hour  mild_injuries  serious_injuries  \
count  10339.000000  10339.000000   10339.000000      10339.000000
mean      15.775994     13.811394       1.154174          0.023310
std        8.763455      5.316490       0.742294          0.163803
min        1.000000      0.000000       0.000000          0.000000
25%        8.000000     10.000000       1.000000          0.000000
50%       16.000000     14.000000       1.000000          0.000000
75%       23.000000     18.000000       1.000000          0.000000
max       31.000000     23.000000      10.000000          4.000000

            victims  vehicles_involved     longitude      latitude
count  10339.000000       10339.000000  10339.000000  10339.000000
mean       1.178644           1.920979      2.162832     41.399346
std        0.735145           0.714011      0.024176      0.021251
min        0.000000           0.000000      2.091855     41.323094
25%        1.000000           2.000000      2.144985     41.386288
50%        1.000000           2.000000      2.163399     41.396730
75%        1.000000           2.000000      2.180179     41.411038
max       10.000000          14.000000      2.222572     41.468244
------------------
Number of duplicated
4
------------------
Null values
id                   0
district_name        0
neighborhood_name    0
street               0
weekday              0
month                0
day                  0
hour                 0
part_of_the_day      0
mild_injuries        0
serious_injuries     0
victims              0
vehicles_involved    0
longitude            0
latitude             0
dtype: int64
------------------

In [95]:
# Fix column names

df_accidents.columns = df_accidents.columns \
    .str.strip() \
    .str.lower() \
    .str.replace(' ', '_') \
    .str.replace('(', '') \
    .str.replace(')', '')

/tmp/ipykernel_1198628/3034198728.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_accidents.columns = df_accidents.columns \

In [96]:
Number of uniques
id                   10335
district_name           11
neighborhood_name       74
street                4253
weekday                  7
month                   12
day                     31
hour                    24
part_of_the_day          3
mild_injuries           11
serious_injuries         4
victims                 11
vehicles_involved       14
longitude             5492
latitude              5442

Index(['id', 'district_name', 'neighborhood_name', 'street', 'weekday',
       'month', 'day', 'hour', 'part_of_the_day', 'mild_injuries',
       'serious_injuries', 'victims', 'vehicles_involved', 'longitude',
       'latitude'],
      dtype='object')

In [117]:
# Reduce memory consuption for columns with less than 9 distinct values

df_accidents.head()

,id,district_name,neighborhood_name,street,weekday,month,day,hour,part_of_the_day,mild_injuries,serious_injuries,victims,vehicles_involved,longitude,latitude
0,2017S008429,Unknown,Unknown,Número 27 ...,Friday,October,13,8,Morning,2,0,2,2,2.125624,41.340045
1,2017S007316,Unknown,Unknown,Número 3 Zona Franca / Número 50 Zona Franca ...,Friday,September,1,13,Morning,2,0,2,2,2.120452,41.339426
2,2017S010210,Unknown,Unknown,Litoral (Besòs) ...,Friday,December,8,21,Afternoon,5,0,5,2,2.167356,41.360886
3,2017S006364,Unknown,Unknown,Número 3 Zona Franca ...,Friday,July,21,2,Night,1,0,1,2,2.124529,41.337668
4,2017S004615,Sant Martí,el Camp de l'Arpa del Clot,Las Navas de Tolosa ...,Thursday,May,25,14,Afternoon,1,0,1,3,2.185272,41.416365

In [142]:
# Join date into a single column

for index, row in df_accidents.iterrows():
    year = 2017
    month = row["month"]
    day = row["day"]
    time = pd.Timestamp(f"{year}-{month}-{day}")
    df_accidents["date"] = time
    df_accidents["date"] = df_accidents["date"].astype("datetime64")

In [143]:
df_accidents.head(3)

,id,district_name,neighborhood_name,street,weekday,month,day,hour,part_of_the_day,mild_injuries,serious_injuries,victims,vehicles_involved,longitude,latitude,date
0,2017S008429,Unknown,Unknown,Número 27 ...,Friday,October,13,8,Morning,2,0,2,2,2.125624,41.340045,2017-01-08
1,2017S007316,Unknown,Unknown,Número 3 Zona Franca / Número 50 Zona Franca ...,Friday,September,1,13,Morning,2,0,2,2,2.120452,41.339426,2017-01-08
2,2017S010210,Unknown,Unknown,Litoral (Besòs) ...,Friday,December,8,21,Afternoon,5,0,5,2,2.167356,41.360886,2017-01-08

In [138]:
df_accidents.dtypes

id                           object
district_name                object
neighborhood_name            object
street                       object
weekday                      object
month                        object
day                           int64
hour                          int64
part_of_the_day              object
mild_injuries                 int64
serious_injuries              int64
victims                       int64
vehicles_involved             int64
longitude                   float64
latitude                    float64
date                 datetime64[ns]
dtype: object