In [197]:
# Import libraries

## Data Science libraries
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [261]:
# Load csv files into DataFrames

df_accidents = pd.read_csv("./dataset_raw/accidents_2017.csv")
# df_air_quality = pd.read_csv("./dataset/air_quality_Nov2017.csv")
# df_air_stations = pd.read_csv("./dataset/air_stations_Nov2017.csv")
# df_births = pd.read_csv("./dataset/births.csv")
# df_bus_stops = pd.read_csv("./dataset/bus_stops.csv")
# df_deaths = pd.read_csv("./dataset/deaths.csv")
# df_immigrants_by_nationality = pd.read_csv("./dataset/immigrants_by_nationality.csv")
# df_immigrants_emigrants_by_age = pd.read_csv("./dataset/immigrants_emigrants_by_age.csv")
# df_immigrants_emigrants_by_destination = pd.read_csv("./dataset/immigrants_emigrants_by_destination.csv")
# df_immigrants_emigrants_by_destination2 = pd.read_csv("./dataset/immigrants_emigrants_by_destination2.csv")
# df_immigrants_emigrants_by_sex = pd.read_csv("./dataset/immigrants_emigrants_by_sex.csv")
# df_life_expectancy = pd.read_csv("./dataset/life_expectancy.csv")
# df_most_frequent_baby_names = pd.read_csv("./dataset/most_frequent_baby_names.csv")
# df_most_frequent_names = pd.read_csv("./dataset/most_frequent_names.csv")
# df_population = pd.read_csv("./dataset/population.csv")
# df_transports = pd.read_csv("./dataset/transports.csv")
# df_unemployment = pd.read_csv("./dataset/unemployment.csv")

In [199]:
# List of dataframes for EDA

df_list = [
    df_accidents,
#    df_air_quality,
#    df_air_stations,
#    df_births,
#    df_bus_stops,
#    df_deaths,
#    df_immigrants_by_nationality,
#    df_immigrants_emigrants_by_age,
#    df_immigrants_emigrants_by_destination,
#    df_immigrants_emigrants_by_destination2,
#    df_immigrants_emigrants_by_sex,
#    df_life_expectancy,
#    df_most_frequent_baby_names,
#    df_most_frequent_names,
#    df_population,
#    df_transports,
#    df_unemployment
]

In [200]:
# Join immigrants emigrants by destination

# print(df_immigrants_emigrants_by_destination.columns == df_immigrants_emigrants_by_destination2.columns)
# print(df_immigrants_emigrants_by_destination.shape)
# print(df_immigrants_emigrants_by_destination2.shape)

In [201]:
# df_immigrants_emigrants_by_destination = df_immigrants_emigrants_by_destination.merge(
#     df_immigrants_emigrants_by_destination2,
#     left_on=['from', 'to', 'weight'],
#     right_on=['from', 'to', 'weight'],
#     how='outer', sort=False)

In [202]:
# Accidents

In [203]:
print("Shape")
df_accidents.shape

Shape

(10339, 15)

In [204]:
df_accidents.info(verbose=False, memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10339 entries, 0 to 10338
Columns: 15 entries, Id to Latitude
dtypes: float64(2), int64(6), object(7)
memory usage: 6.0 MB

In [205]:
print("Head")
df_accidents.head()

Head

,Id,District Name,Neighborhood Name,Street,Weekday,Month,Day,Hour,Part of the day,Mild injuries,Serious injuries,Victims,Vehicles involved,Longitude,Latitude
0,2017S008429,Unknown,Unknown,Número 27 ...,Friday,October,13,8,Morning,2,0,2,2,2.125624,41.340045
1,2017S007316,Unknown,Unknown,Número 3 Zona Franca / Número 50 Zona Franca ...,Friday,September,1,13,Morning,2,0,2,2,2.120452,41.339426
2,2017S010210,Unknown,Unknown,Litoral (Besòs) ...,Friday,December,8,21,Afternoon,5,0,5,2,2.167356,41.360886
3,2017S006364,Unknown,Unknown,Número 3 Zona Franca ...,Friday,July,21,2,Night,1,0,1,2,2.124529,41.337668
4,2017S004615,Sant Martí,el Camp de l'Arpa del Clot,Las Navas de Tolosa ...,Thursday,May,25,14,Afternoon,1,0,1,3,2.185272,41.416365

In [206]:
print("Columns")
df_accidents.columns

Columns

Index(['Id', 'District Name', 'Neighborhood Name', 'Street', 'Weekday',
       'Month', 'Day', 'Hour', 'Part of the day', 'Mild injuries',
       'Serious injuries', 'Victims', 'Vehicles involved', 'Longitude',
       'Latitude'],
      dtype='object')

In [207]:
print("Data Types")
df_accidents.dtypes

Data Types

Id                    object
District Name         object
Neighborhood Name     object
Street                object
Weekday               object
Month                 object
Day                    int64
Hour                   int64
Part of the day       object
Mild injuries          int64
Serious injuries       int64
Victims                int64
Vehicles involved      int64
Longitude            float64
Latitude             float64
dtype: object

In [208]:
print("Null values")
df_accidents.isna().sum()

Null values

Id                   0
District Name        0
Neighborhood Name    0
Street               0
Weekday              0
Month                0
Day                  0
Hour                 0
Part of the day      0
Mild injuries        0
Serious injuries     0
Victims              0
Vehicles involved    0
Longitude            0
Latitude             0
dtype: int64

In [209]:
print("Number of uniques")
df_accidents.nunique(axis=0)

Number of uniques

Id                   10335
District Name           11
Neighborhood Name       74
Street                4253
Weekday                  7
Month                   12
Day                     31
Hour                    24
Part of the day          3
Mild injuries           11
Serious injuries         4
Victims                 11
Vehicles involved       14
Longitude             5492
Latitude              5442
dtype: int64

In [210]:
# Fix column names

df_accidents.columns = [column \
    .strip() \
    .lower() \
    .replace(' ', '_') \
    .replace('(', '') \
    .replace(')', '') for column in df_accidents.columns.values.tolist()]

df_accidents.columns

Index(['id', 'district_name', 'neighborhood_name', 'street', 'weekday',
       'month', 'day', 'hour', 'part_of_the_day', 'mild_injuries',
       'serious_injuries', 'victims', 'vehicles_involved', 'longitude',
       'latitude'],
      dtype='object')

In [211]:
# Deal with duplicated

print(df_accidents.duplicated().sum())
df_accidents = df_accidents[~df_accidents.duplicated()]
print(df_accidents.duplicated().sum())

4
0

In [212]:
# Join date into a single column of tipe datetime64

date = []

for index, row in df_accidents.iterrows():
    time = pd.Timestamp(f'2017-{row["month"]}-{row["day"]} {row["hour"]}:00:00')
    date.append(time)

df_accidents = df_accidents.assign(date=date)
# df_accidents.insert(loc=1, column="dates", value=dates)
# df_accidents.loc[:, "dates"] = dates

In [213]:
# df_accidents.query('district_name == "Unknown"')

In [214]:
# Drop unused columns

df_accidents.drop(columns=["id",
                           "district_name",
                           "neighborhood_name",
                           "street",
                           "weekday",
                           "month",
                           "day",
                           "hour",
                           "part_of_the_day",
                           "mild_injuries", 
                           "serious_injuries"
                          ], 
                  axis="columns", inplace=True)

In [215]:
df_accidents.head(3)

   victims  vehicles_involved  longitude   latitude                date
0        2                  2   2.125624  41.340045 2017-10-13 08:00:00
1        2                  2   2.120452  41.339426 2017-09-01 13:00:00
2        5                  2   2.167356  41.360886 2017-12-08 21:00:00

In [216]:
# Reducing Pandas memory usage

df_accidents.memory_usage()

Index                82680
victims              82680
vehicles_involved    82680
longitude            82680
latitude             82680
date                 82680
dtype: int64

In [217]:
df_accidents.info(verbose=False, memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10335 entries, 0 to 10338
Columns: 5 entries, victims to date
dtypes: datetime64[ns](1), float64(2), int64(2)
memory usage: 484.5 KB

In [218]:
df_accidents.dtypes

victims                       int64
vehicles_involved             int64
longitude                   float64
latitude                    float64
date                 datetime64[ns]
dtype: object

In [219]:
df_accidents["victims"] = df_accidents["victims"].astype("int8")
df_accidents["vehicles_involved"] = df_accidents["vehicles_involved"].astype("int8")
df_accidents["longitude"] = df_accidents["longitude"].astype("float32")
df_accidents["latitude"] = df_accidents["latitude"].astype("float32")

In [220]:
df_accidents.info(verbose=False, memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10335 entries, 0 to 10338
Columns: 5 entries, victims to date
dtypes: datetime64[ns](1), float32(2), int8(2)
memory usage: 262.4 KB

In [221]:
df_accidents.head(3)

   victims  vehicles_involved  longitude   latitude                date
0        2                  2   2.125624  41.340046 2017-10-13 08:00:00
1        2                  2   2.120452  41.339428 2017-09-01 13:00:00
2        5                  2   2.167356  41.360886 2017-12-08 21:00:00

In [222]:
# Insert data in MongoDB

In [249]:
import pymongo
from pymongo import MongoClient
from pymongo.errors import ConnectionFailure, ConfigurationError
#from pymongo.errors import

In [250]:
# Prepare environment

## OS and Clients
import os
from dotenv import load_dotenv

load_dotenv()
username = os.getenv("MONGO_USER")
password = os.getenv("MONGO_PASS")

In [254]:
# Generate Client

url_connection = f"mongodb+srv://{username}:{password}@cluster0.h49fj.mongodb.net"

try:
    client = MongoClient(url_connection)
    db = client.get_database("open_data_bcn")
except ConnectionFailure:
    print(f"Connection cannot be established")
except ConfigurationError:
    print(f"There's a configuration error. Check your environment variables")

accidents_collection = db["accidents"]

# air_quality_collection = db["air_quality"]
# air_stations_collection = db["air_stations"]
# births_collection = db["births"]
# bus_stops_collection = db["bus_stops"]
# deaths_collection = db["deaths"]
# inmigrants_by_nationality_collection = db["immigrants_by_nationality"]
# inmigrants_emigrants_by_age_collection = db["immigrants_emigrants_by_age"]
# inmigrants_emigrants_by_destination_collection = db["immigrants_emigrants_by_destination"]
# inmigrants_emigrants_by_sex_collection = db["immigrants_emigrants_by_sex"]
# life_expectancy_collection = db["life_expectancy"]
# most_frequent_baby_names_collection = db["most_frequent_baby_names"]
# most_frequent_names_collection = db["most_frequent_names"]
# population_collection = db["population"]
# transports_collection = db["transports"]
# unemployment_collection = db["unemployment"]

In [255]:
print(db)
print(accidents_collection)

Database(MongoClient(host=['cluster0-shard-00-01.h49fj.mongodb.net:27017', 'cluster0-shard-00-00.h49fj.mongodb.net:27017', 'cluster0-shard-00-02.h49fj.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-ggfpng-shard-0', ssl=True), 'open_data_bcn')
Collection(Database(MongoClient(host=['cluster0-shard-00-01.h49fj.mongodb.net:27017', 'cluster0-shard-00-00.h49fj.mongodb.net:27017', 'cluster0-shard-00-02.h49fj.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-ggfpng-shard-0', ssl=True), 'open_data_bcn'), 'accidents')

In [256]:
# Test insertion

# accidents_collection.insert_one({"hello":"world"})
accidents_collection.drop()

In [257]:
# Create 2dsphere index to allow geospatial queries

accidents_collection.create_index([("location", pymongo.GEOSPHERE)])

'location_2dsphere'

In [259]:
accident_documents = []

for _, accident in df_accidents.iterrows():
        document = {
            "victims": accident["victims"],
            "vehicles_involved": accident["vehicles_involved"],
            "date": accident["date"],
            "location": {
                "type": "Point",
                "coordinates": [accident["longitude"], accident["latitude"]]
            }
        }
        
        accident_documents.append(document)

In [260]:
accidents_collection.insert_many(accident_documents)