In [134]:
# Import libraries

## Data Science libraries
import numpy as np
import pandas as pd

In [135]:
# Load csv files into DataFrames

df_accidents = pd.read_csv("./dataset_raw/accidents_2017.csv")
# df_air_quality = pd.read_csv("./dataset/air_quality_Nov2017.csv")
# df_air_stations = pd.read_csv("./dataset/air_stations_Nov2017.csv")
# df_births = pd.read_csv("./dataset/births.csv")
# df_bus_stops = pd.read_csv("./dataset/bus_stops.csv")
# df_deaths = pd.read_csv("./dataset/deaths.csv")
# df_immigrants_by_nationality = pd.read_csv("./dataset/immigrants_by_nationality.csv")
# df_immigrants_emigrants_by_age = pd.read_csv("./dataset/immigrants_emigrants_by_age.csv")
# df_immigrants_emigrants_by_destination = pd.read_csv("./dataset/immigrants_emigrants_by_destination.csv")
# df_immigrants_emigrants_by_destination2 = pd.read_csv("./dataset/immigrants_emigrants_by_destination2.csv")
# df_immigrants_emigrants_by_sex = pd.read_csv("./dataset/immigrants_emigrants_by_sex.csv")
# df_life_expectancy = pd.read_csv("./dataset/life_expectancy.csv")
# df_most_frequent_baby_names = pd.read_csv("./dataset/most_frequent_baby_names.csv")
# df_most_frequent_names = pd.read_csv("./dataset/most_frequent_names.csv")
# df_population = pd.read_csv("./dataset/population.csv")
# df_transports = pd.read_csv("./dataset/transports.csv")
# df_unemployment = pd.read_csv("./dataset/unemployment.csv")

In [136]:
# List of dataframes for EDA

df_list = [
    df_accidents,
#    df_air_quality,
#    df_air_stations,
#    df_births,
#    df_bus_stops,
#    df_deaths,
#    df_immigrants_by_nationality,
#    df_immigrants_emigrants_by_age,
#    df_immigrants_emigrants_by_destination,
#    df_immigrants_emigrants_by_destination2,
#    df_immigrants_emigrants_by_sex,
#    df_life_expectancy,
#    df_most_frequent_baby_names,
#    df_most_frequent_names,
#    df_population,
#    df_transports,
#    df_unemployment
]

In [137]:
# Join immigrants emigrants by destination

# print(df_immigrants_emigrants_by_destination.columns == df_immigrants_emigrants_by_destination2.columns)
# print(df_immigrants_emigrants_by_destination.shape)
# print(df_immigrants_emigrants_by_destination2.shape)

In [138]:
# df_immigrants_emigrants_by_destination = df_immigrants_emigrants_by_destination.merge(
#     df_immigrants_emigrants_by_destination2,
#     left_on=['from', 'to', 'weight'],
#     right_on=['from', 'to', 'weight'],
#     how='outer', sort=False)

In [139]:
# Accidents

In [140]:
print("Shape")
df_accidents.shape

Shape

(10339, 15)

In [141]:
df_accidents.info(verbose=False, memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10339 entries, 0 to 10338
Columns: 15 entries, Id to Latitude
dtypes: float64(2), int64(6), object(7)
memory usage: 6.0 MB

In [142]:
print("Head")
df_accidents.head()

Head

,Id,District Name,Neighborhood Name,Street,Weekday,Month,Day,Hour,Part of the day,Mild injuries,Serious injuries,Victims,Vehicles involved,Longitude,Latitude
0,2017S008429,Unknown,Unknown,Número 27 ...,Friday,October,13,8,Morning,2,0,2,2,2.125624,41.340045
1,2017S007316,Unknown,Unknown,Número 3 Zona Franca / Número 50 Zona Franca ...,Friday,September,1,13,Morning,2,0,2,2,2.120452,41.339426
2,2017S010210,Unknown,Unknown,Litoral (Besòs) ...,Friday,December,8,21,Afternoon,5,0,5,2,2.167356,41.360886
3,2017S006364,Unknown,Unknown,Número 3 Zona Franca ...,Friday,July,21,2,Night,1,0,1,2,2.124529,41.337668
4,2017S004615,Sant Martí,el Camp de l'Arpa del Clot,Las Navas de Tolosa ...,Thursday,May,25,14,Afternoon,1,0,1,3,2.185272,41.416365

In [143]:
# Column names have spaces

print("Columns")
df_accidents.columns

Columns

Index(['Id', 'District Name', 'Neighborhood Name', 'Street', 'Weekday',
       'Month', 'Day', 'Hour', 'Part of the day', 'Mild injuries',
       'Serious injuries', 'Victims', 'Vehicles involved', 'Longitude',
       'Latitude'],
      dtype='object')

In [144]:
# Data types can be improved to achieve less memory usage

print("Data Types")
df_accidents.dtypes

Data Types

Id                    object
District Name         object
Neighborhood Name     object
Street                object
Weekday               object
Month                 object
Day                    int64
Hour                   int64
Part of the day       object
Mild injuries          int64
Serious injuries       int64
Victims                int64
Vehicles involved      int64
Longitude            float64
Latitude             float64
dtype: object

In [145]:
# We don't have null values, but there are some columns with a "Unknown" string

print("Null values")
df_accidents.isna().sum()

Null values

Id                   0
District Name        0
Neighborhood Name    0
Street               0
Weekday              0
Month                0
Day                  0
Hour                 0
Part of the day      0
Mild injuries        0
Serious injuries     0
Victims              0
Vehicles involved    0
Longitude            0
Latitude             0
dtype: int64

In [146]:
# We can deduce when to use the category data type looking at the number of uniques

print("Number of uniques")
df_accidents.nunique(axis=0)

Number of uniques

Id                   10335
District Name           11
Neighborhood Name       74
Street                4253
Weekday                  7
Month                   12
Day                     31
Hour                    24
Part of the day          3
Mild injuries           11
Serious injuries         4
Victims                 11
Vehicles involved       14
Longitude             5492
Latitude              5442
dtype: int64

In [147]:
# Fix column names

df_accidents.columns = [column \
    .strip() \
    .lower() \
    .replace(' ', '_') \
    .replace('(', '') \
    .replace(')', '') for column in df_accidents.columns.values.tolist()]

df_accidents.columns

Index(['id', 'district_name', 'neighborhood_name', 'street', 'weekday',
       'month', 'day', 'hour', 'part_of_the_day', 'mild_injuries',
       'serious_injuries', 'victims', 'vehicles_involved', 'longitude',
       'latitude'],
      dtype='object')

In [148]:
# Clean the ID column, which have spaces

print(df_accidents.loc[0, ["id"]].values)

df_obj = df_accidents.select_dtypes(['object'])
df_accidents[df_obj.columns] = df_obj.apply(lambda x: x.str.strip())

print(df_accidents.loc[0, ["id"]].values[0])

['2017S008429    ']
2017S008429

In [149]:
# Deal with duplicated

print(df_accidents.duplicated().sum())
df_accidents = df_accidents[~df_accidents.duplicated()]
print(df_accidents.duplicated().sum())

4
0

In [150]:
# Create a dates list and insert a datetime compliant string
date = []

for index, row in df_accidents.iterrows():
    time = pd.Timestamp(f'2017-{row["month"]}-{row["day"]} {row["hour"]}:00:00')
    date.append(time)

df_accidents = df_accidents.assign(date=date)
# df_accidents.insert(loc=1, column="dates", value=dates)
# df_accidents.loc[:, "dates"] = dates

In [151]:
# The disctrict column has "Unknowns" -> Nulls, and given that we have longitude + latitude,
# this column will not be kept in the final DataFrame

df_accidents.query('district_name == "Unknown"')

,id,district_name,neighborhood_name,street,weekday,month,day,hour,part_of_the_day,mild_injuries,serious_injuries,victims,vehicles_involved,longitude,latitude,date
0,2017S008429,Unknown,Unknown,Número 27,Friday,October,13,8,Morning,2,0,2,2,2.125624,41.340045,2017-10-13 08:00:00
1,2017S007316,Unknown,Unknown,Número 3 Zona Franca / Número 50 Zona Franca,Friday,September,1,13,Morning,2,0,2,2,2.120452,41.339426,2017-09-01 13:00:00
2,2017S010210,Unknown,Unknown,Litoral (Besòs),Friday,December,8,21,Afternoon,5,0,5,2,2.167356,41.360886,2017-12-08 21:00:00
3,2017S006364,Unknown,Unknown,Número 3 Zona Franca,Friday,July,21,2,Night,1,0,1,2,2.124529,41.337668,2017-07-21 02:00:00
1249,2017S008730,Unknown,Unknown,Número 50 Zona Franca / Número 3 Zona Franca,Sunday,October,22,10,Morning,2,0,2,1,2.120452,41.339426,2017-10-22 10:00:00
1250,2017S008852,Unknown,Unknown,Valldaura,Thursday,October,26,7,Morning,0,1,1,2,2.182588,41.439233,2017-10-26 07:00:00
1251,2017S008779,Unknown,Unknown,Número 6 Zona Franca / A Zona Franca,Monday,October,23,22,Night,1,0,1,2,2.132817,41.323437,2017-10-23 22:00:00
1252,2017S005627,Unknown,Unknown,Mare de Déu de Port,Wednesday,June,28,12,Morning,1,0,1,1,2.154901,41.352435,2017-06-28 12:00:00
1253,2017S000252,Unknown,Unknown,NUS TRINITAT,Wednesday,January,11,14,Afternoon,2,0,2,2,2.193560,41.449284,2017-01-11 14:00:00
1254,2017S010520,Unknown,Unknown,B-10 (Llobregat),Wednesday,December,20,8,Morning,0,0,0,2,2.171625,41.366096,2017-12-20 08:00:00
1255,2017S007907,Unknown,Unknown,Can Rius a Torre Baró,Sunday,September,24,9,Morning,2,0,2,2,2.159283,41.450271,2017-09-24 09:00:00
2526,2017S009011,Unknown,Unknown,Litoral (Llobregat),Tuesday,October,31,19,Afternoon,1,0,1,2,2.163787,41.358567,2017-10-31 19:00:00
2527,2017S009418,Unknown,Unknown,Francesc Ferrer i Guàrdia / Sant Jordi,Monday,November,13,16,Afternoon,1,0,1,2,2.144821,41.366779,2017-11-13 16:00:00
2528,2017S004470,Unknown,Unknown,Argullós,Saturday,May,20,9,Morning,1,0,1,2,2.183720,41.440331,2017-05-20 09:00:00
2529,2017S001239,Unknown,Unknown,NÚMERO 3,Tuesday,February,14,17,Afternoon,1,0,1,2,2.124529,41.337668,2017-02-14 17:00:00
3797,2017S005001,Unknown,Unknown,Trinitat,Thursday,June,8,6,Morning,1,0,1,1,2.195909,41.449373,2017-06-08 06:00:00
5068,2017S004846,Unknown,Unknown,Valldaura / Andreu Nin,Friday,June,2,7,Morning,1,0,1,1,2.183364,41.439463,2017-06-02 07:00:00
5069,2017S005074,Unknown,Unknown,Valldaura / Andreu Nin,Friday,June,9,17,Afternoon,1,0,1,1,2.183364,41.439463,2017-06-09 17:00:00
5070,2017S005115,Unknown,Unknown,Litoral (Llobregat),Sunday,June,11,19,Afternoon,1,0,1,2,2.168929,41.362194,2017-06-11 19:00:00
5071,2017S000467,Unknown,Unknown,NÚMERO 3,Tuesday,January,17,15,Afternoon,1,0,1,4,2.151883,41.328179,2017-01-17 15:00:00
5072,2017S000789,Unknown,Unknown,NÚMERO 3 / E,Monday,January,30,9,Morning,1,0,1,1,2.129612,41.336163,2017-01-30 09:00:00
6424,2017S006300,Unknown,Unknown,Valldaura / Andreu Nin,Wednesday,July,19,11,Morning,1,0,1,1,2.183364,41.439463,2017-07-19 11:00:00
7738,2017S009871,Unknown,Unknown,Glòries Catalanes / Corts Catalanes,Monday,November,27,14,Afternoon,1,0,1,2,2.185863,41.402617,2017-11-27 14:00:00
7739,2017S006148,Unknown,Unknown,Número 3 Zona Franca / Número 50 Zona Franca,Friday,July,14,17,Afternoon,2,0,2,1,2.120452,41.339426,2017-07-14 17:00:00
7740,2017S008091,Unknown,Unknown,B-20 (Llobregat),Sunday,October,1,12,Morning,1,0,1,2,2.193426,41.447055,2017-10-01 12:00:00
7741,2017S004015,Unknown,Unknown,Litoral (Llobregat),Saturday,May,6,14,Afternoon,5,0,5,3,2.204930,41.444642,2017-05-06 14:00:00
9046,2017S007966,Unknown,Unknown,C-17 (Barcelona),Tuesday,September,26,18,Afternoon,1,0,1,3,2.188572,41.453646,2017-09-26 18:00:00

In [83]:
# Prepare geopy and test it

import re

import geopy
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="name-of-your-user-agent")
location = geolocator.reverse(f'{str(df_accidents.loc[0, "latitude"])}, {str(df_accidents.loc[0, "longitude"])}')

print(location.address)
print(dir(location))

geolocator = Nominatim(user_agent="name-of-your-user-agent")
location = geolocator.geocode("Puerta del Sol, Madrid")

print(type(location))
print(location.address)
print(location.raw)


location = geolocator.geocode("Pul Sol, Madrid")
# Invalid location returns None
print(location)

Abetis, Carrer Número 27, la Marina del Prat Vermell, Sants-Montjuïc, Barcelona, Barcelonès, Barcelona, Catalunya, 08001, España
['__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setstate__', '__sizeof__', '__slots__', '__str__', '__subclasshook__', '_address', '_point', '_raw', '_tuple', 'address', 'altitude', 'latitude', 'longitude', 'point', 'raw']
<class 'geopy.location.Location'>
Puerta del Sol, Barrio de los Austrias, Sol, Centro, Madrid, Área metropolitana de Madrid y Corredor del Henares, Comunidad de Madrid, 28013, España
{'place_id': 285617845, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'relation', 'osm_id': 7424032, 'boundingbox': ['40.4164803', '40.4172442', '-3.7047213', '-3.7022631'], 'lat': '40.4168624', 'lon': '-3.7043032918742496', 'display_name': 'Puerta del Sol, Barrio de los Austrias, Sol, Centro, Madrid, Área metropolitana de Madrid y Corredor del Henares, Comunidad de Madrid, 28013, España', 'class': 'highway', 'type': 'pedestrian', 'importance': 0.8577440768379154}
None

In [ ]:
# As we can see in the above example, querying geopy is very time consuming
# In fact, there's a limitation of 10 request per second on the server side

# To make this a little bit quickier, we are going to create a multi-thread
# process to span the requests to be performed on two different processes

# We have 10335 rows, so we could use

# 

# CPU times: user 2min 27s, sys: 4.94 s, total: 2min 32s
# Wall time: 1h 50min 9s

In [84]:
# Set the id column as index, but without losing it
#df_accidents.set_index(df_accidents["id"], inplace=True)

# Make a copy
# Check if is copy or view from the original

df_copy = df_accidents[ ["id", "longitude", "latitude"] ].copy()
print(df_copy.values.base is df_accidents[ ["id", "longitude", "latitude"] ].values.base)

# Print a sample row
#df_copy.iloc[df_accidents["id"][0], ["id", "latitude", "longitude"] ].values


# Initialize the column zipcode with dummy values
dummy_list = np.arange(df_accidents.shape[0], dtype='object')
print(len(dummy_list) == df_accidents.shape[0])

# Change all values of zipcode to be 0
df_accidents['zipcode'] = 0

df_accidents.head(3)

False
True

,id,district_name,neighborhood_name,street,weekday,month,day,hour,part_of_the_day,mild_injuries,serious_injuries,victims,vehicles_involved,longitude,latitude,date,zipcode
0,2017S008429,Unknown,Unknown,Número 27,Friday,October,13,8,Morning,2,0,2,2,2.125624,41.340045,2017-10-13 08:00:00,0
1,2017S007316,Unknown,Unknown,Número 3 Zona Franca / Número 50 Zona Franca,Friday,September,1,13,Morning,2,0,2,2,2.120452,41.339426,2017-09-01 13:00:00,0
2,2017S010210,Unknown,Unknown,Litoral (Besòs),Friday,December,8,21,Afternoon,5,0,5,2,2.167356,41.360886,2017-12-08 21:00:00,0

In [ ]:
# There are rows containing invalid entries, like
# 2017S008429
# Baardheere بااردىرآ, Gedo جدو, Soomaaliya الصومال

# So we need to calculate this locations and return None

In [97]:
# Simple function that processes a single row

def process_location(index):
    """process a single row"""
    # fetch the data
    #r = requests.get(url_t % id)
    # parse the JSON reply
    #data = r.json()
    # and update some data with PUT
    #requests.put(url_t % id, data=data)
    _id = df_accidents.iloc[index]["id"]
    latitude = df_accidents.iloc[index]["latitude"]
    longitude = df_accidents.iloc[index]["longitude"]
    
    data = geolocator.reverse(f'{latitude}, {longitude}')
    if data is None:
        df_accidents.iloc[index, df_accidents.columns.get_loc('zipcode')] = None
        return None
        #zipcodes.append(None)
    else:
        if re.findall(r"(?<=(?:Barcelona,\sCatalunya,\s))\d{5}(?=(?:,\sEspaña))", data.address):
            found = re.findall(r"(?<=(?:Barcelona,\sCatalunya,\s))\d{5}(?=(?:,\sEspaña))", data.address)
            df_accidents.iloc[index, df_accidents.columns.get_loc('zipcode')] = found
        else:
            df_accidents.iloc[index, df_accidents.columns.get_loc('zipcode')] = None

In [98]:
# Simple function that processes a range of rows:

def process_range(row_range):
    """process a number of ids"""
    #print(type(row_range))
    for id in row_range:
        process_location(id)

In [ ]:
process_range(range(0,20))

In [130]:
# We need to pass a list of ranges to the process_range funcion, that can be generated this way

nthreads = 3
id_range = range(100)
for i in range(nthreads):
    print(id_range[i::nthreads])

range(0, 100, 3)
range(1, 100, 3)
range(2, 100, 3)

In [99]:
# map sub-ranges onto threads to allow some number of requests to be concurrent

from threading import Thread

def threaded_process_range(nthreads, id_range):
    """process the id range in a specified number of threads"""
    threads = []
    # create the threads
    for i in range(nthreads):
        ids = id_range[i::nthreads]
        t = Thread(target=process_range, args=(ids,))
        print(t)
        threads.append(t)

    # start the threads
    [ t.start() for t in threads ]
    # wait for the threads to finish
    [ t.join() for t in threads ]

In [ ]:
# The most optimal combination is 2 threads and a range of 15

# %%time
# threaded_process_range(nthreads=2, id_range=range(15))

# CPU times: user 170 ms, sys: 12.3 ms, total: 182 ms
# Wall time: 9.71 s

# %%time
# threaded_process_range(nthreads=2, id_range=range(53))

# <Thread(Thread-53, initial)>
# <Thread(Thread-54, initial)>
# CPU times: user 568 ms, sys: 42.4 ms, total: 610 ms
# Wall time: 39.1 s

# %%time
# threaded_process_range(nthreads=2, id_range=range(39))

# <Thread(Thread-51, initial)>
# <Thread(Thread-52, initial)>
# CPU times: user 478 ms, sys: 21.7 ms, total: 499 ms
# Wall time: 29.2 s

# threaded_process_range(nthreads=2, id_range=range(50))


# CPU times: user 447 ms, sys: 31.7 ms, total: 479 ms
# Wall time: 30.2 s

In [ ]:
%%time
for i in range(0, df_accidents.shape[0], 15):
    threaded_process_range(nthreads=2, id_range=range(i, i+15))
    
# CPU times: user 2min 27s, sys: 4.94 s, total: 2min 32s
# Wall time: 1h 50min 9s

print("Done!")
df_accidents.head(3)

In [152]:
# Check that a random row has the zipcode inserted

df_accidents.iloc[6876]

id                                       2017S010108
district_name                               Eixample
neighborhood_name    l'Antiga Esquerra de l'Eixample
street                                        Sarrià
weekday                                     Thursday
month                                       November
day                                               30
hour                                              21
part_of_the_day                            Afternoon
mild_injuries                                      2
serious_injuries                                   0
victims                                            2
vehicles_involved                                  2
longitude                                   2.146742
latitude                                   41.389902
date                             2017-11-30 21:00:00
Name: 6878, dtype: object

In [153]:
# Drop unused columns

df_accidents.drop(columns=["id",
                           "district_name",
                           "neighborhood_name",
                           "street",
                           "weekday",
                           "month",
                           "day",
                           "hour",
                           "part_of_the_day",
                           "mild_injuries", 
                           "serious_injuries"
                          ], 
                  axis="columns", inplace=True)

In [154]:
df_accidents.head(3)

   victims  vehicles_involved  longitude   latitude                date
0        2                  2   2.125624  41.340045 2017-10-13 08:00:00
1        2                  2   2.120452  41.339426 2017-09-01 13:00:00
2        5                  2   2.167356  41.360886 2017-12-08 21:00:00

In [155]:
# Reducing Pandas memory usage

df_accidents.memory_usage()

Index                82680
victims              82680
vehicles_involved    82680
longitude            82680
latitude             82680
date                 82680
dtype: int64

In [156]:
df_accidents.info(verbose=False, memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10335 entries, 0 to 10338
Columns: 5 entries, victims to date
dtypes: datetime64[ns](1), float64(2), int64(2)
memory usage: 484.5 KB

In [157]:
df_accidents.dtypes

victims                       int64
vehicles_involved             int64
longitude                   float64
latitude                    float64
date                 datetime64[ns]
dtype: object

In [159]:
df_accidents["victims"] = df_accidents["victims"].astype("int8")
df_accidents["vehicles_involved"] = df_accidents["vehicles_involved"].astype("int8")
df_accidents["longitude"] = df_accidents["longitude"].astype("float32")
df_accidents["latitude"] = df_accidents["latitude"].astype("float32")
df_accidents["zipcodes"] = df_accidents["zipcodes"].astype("object")

In [160]:
df_accidents.info(verbose=False, memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10335 entries, 0 to 10338
Columns: 5 entries, victims to date
dtypes: datetime64[ns](1), float32(2), int8(2)
memory usage: 262.4 KB

In [161]:
# Insert data in MongoDB

In [162]:
import pymongo
from pymongo import MongoClient
from pymongo.errors import ConnectionFailure, ConfigurationError
#from pymongo.errors import

In [163]:
# Prepare environment

## OS and Clients
import os
from dotenv import load_dotenv

load_dotenv()

DATABASE_URL = os.getenv("DATABASE_URL")
DATABASE_URL_DEV = os.getenv("DATABASE_URL_DEV")

In [164]:
# Generate Client

# Change this variable to feed one or another DB

connection = "development"
# connection = "production

if connection == "development":
    url_connection = DATABASE_URL_DEV 
else:
    url_connection = DATABASE_URL

#url_connection = DATABASE_URL
#url_connection_dev = DATABASE_URL_DEV

try:
    client = MongoClient(url_connection)
    db = client.get_database("open_data_bcn")
except ConnectionFailure:
    print(f"Connection cannot be established")
except ConfigurationError as error:
    print(f"There's a configuration error. Check your environment variables")
    print(error)

accidents_collection = db["accidents"]

# air_quality_collection = db["air_quality"]
# air_stations_collection = db["air_stations"]
# births_collection = db["births"]
# bus_stops_collection = db["bus_stops"]
# deaths_collection = db["deaths"]
# inmigrants_by_nationality_collection = db["immigrants_by_nationality"]
# inmigrants_emigrants_by_age_collection = db["immigrants_emigrants_by_age"]
# inmigrants_emigrants_by_destination_collection = db["immigrants_emigrants_by_destination"]
# inmigrants_emigrants_by_sex_collection = db["immigrants_emigrants_by_sex"]
# life_expectancy_collection = db["life_expectancy"]
# most_frequent_baby_names_collection = db["most_frequent_baby_names"]
# most_frequent_names_collection = db["most_frequent_names"]
# population_collection = db["population"]
# transports_collection = db["transports"]
# unemployment_collection = db["unemployment"]

In [165]:
print(db)
print(accidents_collection)

Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'open_data_bcn')
Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'open_data_bcn'), 'accidents')

In [166]:
# Test insertion

# accidents_collection.insert_one({"hello":"world"})
accidents_collection.drop()

In [167]:
# Create 2dsphere index to allow geospatial queries

accidents_collection.create_index([("location", pymongo.GEOSPHERE)])
#accidents_collection.create_index([("victims", ])

'location_2dsphere'

In [168]:
accident_documents = []

for _, accident in df_accidents.iterrows():
        document = {
            "victims": accident["victims"],
            "vehicles_involved": accident["vehicles_involved"],
            "date": accident["date"],
            "location": {
                "type": "Point",
                "coordinates": [accident["longitude"], accident["latitude"]]
            }
        }
        
        accident_documents.append(document)

In [169]:
accidents_collection.insert_many(accident_documents)

In [170]:
db.get_collection("accidents")

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'open_data_bcn'), 'accidents')

In [171]:
db.accidents.find_one()

{'_id': ObjectId('61dc450b4efdba77d7146706'),
 'victims': 2,
 'vehicles_involved': 2,
 'date': datetime.datetime(2017, 10, 13, 8, 0),
 'location': {'type': 'Point',
  'coordinates': [2.125624418258667, 41.34004592895508]}}

In [ ]:
# The last step is to export the DataFrame

In [181]:
def location_fixer(document):
    longitude = document["longitude"]
    latitude = document["latitude"]
    
    location = {
        "coordinates": [
            longitude,
            latitude
        ],
        "type": "Point"
    }
    del document["longitude"]
    del document["latitude"]
    document["location"] = location
    return document

document_raw = {"victims":2,"vehicles_involved":2,"longitude":2.1256244183,"latitude":41.340045929,"date":1507881600000}
document_fixed = location_fixer(document_raw)
document_fixed

{'victims': 2,
 'vehicles_involved': 2,
 'date': 1507881600000,
 'location': {'coordinates': [2.1256244183, 41.340045929], 'type': 'Point'}}

In [206]:
df_accidents.to_json(r'./accidents.json', orient='records', indent=None)

In [ ]:
import json

with open('accidents.json', 'r') as datafile:
    data = json.load(datafile)

with open('../database/accidents_fixed.json', 'w+') as datafile_fixed:
    data_fixed = map(location_fixer, data)
    
    for obj in data_fixed:
        print(obj)
        datafile_fixed.write(json.dumps(obj) + "\n")